@import "../common/mixin.scss";

.contact-box {
  text-align: center;
  background-color: #f0f0f0;
  padding: 80px 0 79px 0px;
  @include mq(sp) {
    padding: 80px 0 59px 0px;
  }
  h2 {
    font-size: 34px!important;
  }
  .contact-area {
    display: inline-block;
    .contact-head-text {
      font-size: 15px;
      padding-top: 30px;
      letter-spacing: 0.05em;
      @include mq(sp) {
        font-size: 14px;
        max-width: 296px;
        line-height: 1.8;
      }
    }
    .more-btn-area {
      padding-top: 27px;
    }
  }
}