@import "../common/mixin.scss";
@import "../common/label.scss";

.contact-contents {
  padding-bottom: 70px;
  .contact-contents-title {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
    font-family: "Hiragino Sans";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.05em;
    @include mq(sp) {
      max-width: 296px;
      padding-top: 40px;
      padding-bottom: 30px;
      margin: 0 auto;
      font-size: 14px;
    }
  }
  .contact-form {
    max-width: 1110px;
    margin: 0 auto;
    background-color: #F7F7F7;
    padding: 90px 0 90px 90px;
    @include mq(sp) {
      margin: 0 20px;
      padding: 30px 0 30px 30px;
    }
    .contact-form-wrap {
      @include mq(sp) {
        max-width: 275px;
      }
      .form-top {
        padding-top: 30px;
        @include mq(sp) {
          padding-top: 32px;
        }
      }
      .contact-form-title {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.05em;
        @include mq(sp) {
          font-size: 15px;
        }
        span {
          padding-left: 10px;
          font-size: 12px;
          color: #391E88;
        }
        .contact-form-title-hyphen {
          font-weight: 300;
          color: #333333!important;
        }
      }
      .contact-form-body-radio {
        padding-top: 17px;
        font-weight: 300;
        font-family: "Hiragino Sans";
        letter-spacing: 0.05em;
        span {
          padding-right: 35px;
          padding-bottom: 10px;
          @include mq(sp) {
            display: block;
            padding-right: 0;
            label {
              font-size: 13px;
            }
          }
        }
      }
      .contact-form-body {
        padding-top: 10px;
        input {
          &[type=text], &[type=email] {
            @extend .base-input;
            width: 300px;
            height: 40px;
            padding: 10px;
            border: none;
            border-radius: 6px;
            @include mq(sp) {
              width: 275px;
            }
            label {
              font-size: 13px;
            }
          }
        }
        textarea {
          @extend .base-textarea;
          width: 601px;
          height: 255px;
          border: none;
          border-radius: 6px;
          @include mq(sp) {
            width: 275px;
          }
        }
        select {
          @extend .base-select;
          width: 300px;
          height: 40px;
          padding-left: 12px;
          border: none;
          border-radius: 6px;
          @include mq(sp) {
            width: 275px;
          }
        }
      }
      .send-btn-area {
        padding-top: 50px;
        text-align: center;
      }
    }
  }
}