@import "../common/mixin.scss";

.news-contents {
  padding: 60px 0 40px 265px;
  .news-contents-row {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
    .news-contents-date {
      margin-top: 2px;
      margin-right: 20px;
      letter-spacing: 0.1em;
    }
    .news-contents-tip {
      border-radius: 12px;
      background-color: #E8E8E8;
      height: 22px;
      width: 82px;
      padding-top: 1px;
      margin-right: 20px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 22px;
    }
    .news-contents-text {
      line-height: 1.8;
      font-family: "Hiragino Sans";
      font-weight: 300;
      letter-spacing: 0.05em;
    }
  }
}