@import "../common/mixin.scss";
@import "../common/label.scss";

.news-detail-contents {
  padding: 70px 0 40px 0;
  .news-detail {
    max-width: 750px;
    margin: 0 auto;
    .news-detail-title {
      font-size: 32px;
      letter-spacing: 0.05em;
      line-height: 1.4;
    }
    .news-detail-bottom {
      display: flex;
      .news-detail-date {
        margin-top: 13px;
        margin-right: 10px;
        font-size: 13px;
        letter-spacing: 0.018em;
      }
      .news-detail-tip {
        @extend .base-tip;
        margin-top: 10px;
      }
    }
    .news-detail-img {
      margin-top: 27px;
    }
    .news-detail-text {
      margin-top: 30px;
      font-family: "Hiragino Sans";
      font-weight: 300;
      letter-spacing: 0.05em;
      line-height: 1.7;
    }
    .news-detail-lg-head {
      padding: 16px;
      margin-top: 50px;
      border-left: 4px solid #391E88;
    }
    .news-detail-lg-text {
      @extend .news-detail-text;
      margin-top: 20px;
    }
    .news-detail-sm-head {
      margin-top: 39px;
    }
    .news-detail-sm-text {
      @extend .news-detail-lg-text;
    }
    .news-detail-sm-text2 {
      @extend .news-detail-text;
    }
  }
}