@import "../common/mixin.scss";

.news-box {
  .news-area {
    max-width: 920px;
    padding-top: 70px;
    display: flex;
    margin: 0 auto;
    @include mq(sp) {
      display: block;
      padding-top: 40px;
    }
    .news-head {
      color: #391E88;
      @include mq(sp) {
        text-align: center;
      }
    }
    .news-body {
      line-height: 1.35;
      padding-left: 50px;
      flex: 1;
      @include mq(sp) {        
        padding-left: 20px;
        padding-right: 19px;
      }
      .news-item {
        display: flex;
        @include mq(sp) {    
          display: block;
          padding-top: 28px;
          padding-bottom: 0!important;
        }
        &:not(:last-child) {
          padding-bottom: 12px;
        }
        .news-item-head {
          display: flex;
          @include mq(sp) {        
            padding: 0;
          }
          .news-body-date {
            padding: 2px 0 0 5px;
            letter-spacing: 0.1em;
            @include mq(sp) {
              font-size: 15px;
              padding: 5px 0 0 0;
            }
          }
          .news-body-tip-box {
            padding-left: 20px;
            @include mq(sp) {
              padding-top: 5px;
              padding-left: 15px;
            }
            .news-body-tip {
              width: 82px;
              height: 22px;
              font-size: 12px;
              font-weight: bold;
              background-color: #E8E8E8;
              letter-spacing: 0.05em;
              border-radius: 12px;
              text-align: center;
              display: inline-block;
              line-height: 22px;
              @include mq(sp) {
                font-size: 11px;
              }
            }
          }
        }
        .news-body-text {
          font-size: 15px;
          padding: 4px 0 0 20px;
          font-family: "Hiragino Sans";
          flex: 1;
          letter-spacing: 0.05em;
          @include mq(sp) {
            padding: 0;
            font-size: 14px;
            line-height: 2;
            letter-spacing: 0.6;
          }
        }
      }
    }
  }
}