@import "../common/mixin.scss";

.service-contents {
  .service {
    max-width: 1110px;
    margin: 70px auto 110px auto;
    @include mq(sp) {
      margin: 40px 20px 80px 20px;
    }
    .service-row {
      display: flex;
      margin-bottom: 60px;
      @include mq(sp) {
        display: block;
        margin-bottom: 50px;
      }
      .service-left {
        margin-right: 50px;
      }
      .service-right {
        letter-spacing: 0.05em;
        .service-title {
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: bold;
          @include mq(sp) {
            margin-top: 20px;
            margin-bottom: 15px;
            text-align: center;
          }
        }
        .service-text {
          line-height: 1.8;
        }
      }
    }
  }
}