@import "../common/mixin.scss";

.service-box {
  padding: 140px 0;
  @include mq(sp) {
    padding: 74px 0 0 0;
  }
  .service-area {
    max-width: 1114px;
    margin: 0 auto;
    .service-head {
      color: #391E88;
      text-align: center;
    }
    .service-body {
      padding-top: 26px;
      display: flex;
      @include mq(sp) {
        padding: 28px 20px 0 20px;
        display: block;
      }
      .service-contents {
        &:not(:last-child) {
          margin-right: 31px;
          @include mq(sp) {
            margin-right: 0;
            margin-bottom: 40px;
          }
        }
        img {
          @include mq(sp) {
            width: 335px;
            padding-bottom: 3px;
          }
        }
        .service-contents-title {
          font-size: 18px;
          text-align: center;
          font-weight: bold;
          padding: 24px 0 17px 0;
          line-height: 0.9;
          letter-spacing: 0.05em;
          @include mq(sp) {
            padding: 0;
            line-height: 1.2;
            padding-top: 14px;
          }
        }
        .service-contents-text {
          font-size: 15px;
          line-height: 1.8;
          letter-spacing: 0.05em;
          @include mq(sp) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .more-btn-area {
    padding-top: 25px;
    text-align: center;
  }
}