.base-tip {
  border-radius: 12px;
  background-color: #E8E8E8;
  width: 82px;
  height: 22px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 22px;
  @include mq(sp) {
    height: 19px;
    font-size: 11px;
    line-height: 19px;
  }
}

.base-input {
  margin: 0;
  padding: 0;
}

.base-textarea {
  resize: none;
}

.base-select {
  font-family: "Hiragino Sans";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #333333;
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
  appearance: none; /* 標準のスタイルを無効にする */
}