@import "../common/mixin.scss";

body {
  font-family: "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #333333;
  li {
    list-style: none;
  }
  ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  ul, li {
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
  h2 {
    color: #391E88;
    font-size: 36px;
    line-height: 0.9;
    letter-spacing: 0.05em;
    padding-top: 5px;
    @include mq(sp) {
      font-size: 30px!important;
    }
    + p {
      color: #391E88;
      font-size: 14px;
      letter-spacing: 0.05em;
      padding-top: 5px;
      font-weight: bold;
      @include mq(sp) {
        font-size: 13px;
        padding-top: 5px;
      }
    }
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.01em;
    line-height: 0.875;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.01em;
    line-height: 0.875;
  }
  @include mq(sp) {
    font-size: 14px;
  }
}